*,
*::before
*::after {
  box-sizing: border-box;
}
/* Custom properties, */
:root {
  --ff-primary: 'Source Sans Pro', Sans-serif;
  --ff-secondary: 'source Code Pro', monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent:#16e0bd;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 10.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
    0.125em 0.125em 0.25em rgba(0,0,0,.15);
  }
}
/* General styles */

html {
  scroll-behavior: smooth;
}
body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}
section {
  padding: 5em 2em;
}
img {
  display: block;
  max-width:100%;
}
strong { font-weight: var(--fw-bold) }

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/* buttons */
.btn {
  display: inline-block;
  padding: .5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}
.btn:hover{
  transform: scale(1.1);
}

/* Typography */
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}
h1 { font-size: var(--fs-h1)}
h2 { font-size: var(--fs-h2)}
h3 { font-size: var(--fs-h3)}

.section__title {
  margin-bottom: .25em;

}
.section__title--intro {
  font-weight: var(--fw-reg)
  }
  .section__title--intro strong {
    display: block;
  }
.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle1 {
  margin: 0;
  font-size: var(--fs-h3);
}
.section__subtitle2 {
  margin: 0;
  font-size: var(--fs-h3);
}
.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  padding: .25em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

.section__subtitle1--intro,
.section__subtitle1--about {

  background: #9a9a9a;
  padding: .25em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

.nav__item1 {
  font-size: 3rem;
  font-family: monospace;
  position: absolute;
}

.section__subtitle2--intro,
.section__subtitle2--about {
  background: #ccccff;
  padding: .25em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

.section__subtitle--work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}
/* Chapel */


/* header  */
header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.logo {
  max-width: 400px;
}

.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(100%);
  transform: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-accent);
}
.nav__link1 {
  color: grey;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
  padding-right: 270px;
  text-decoration: underline;
}

/* Hamburger */

.hamburger {
  background: var(--clr-dark);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  display: block;
  position: relative;
}

.nav-toggle {
  padding: .5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger:after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-accent);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

/* intro section */

.intro {
  position: relative;
}
.intro__img {
  box-shadow: var(--bs);
}
@media (min-width: 800px) {
  .intro {
    display: grid;
    width: min-content;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
    margin: 0 auto;
  }
  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }
  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 8em);
  }
  .section__subtitle1--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 9);
  }

  .section__subtitle2--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 8em);
  }
}
.contacts {
  background-color: #D3D3D3;
  background-size: cover;
  background-blend-mode: multiply;
  color: var(--clr-light);
  text-align: center;
}
.my-skills {
  background-color: var(--clr-dark);
  background-image: url(PortfolioImage1.png);
  background-size: cover;
  background-blend-mode: multiply;
  color: var(--clr-light);
  text-align: center;
}

.section__title--skills {
  color: var(--clr-accent);
  position: relative;
}

.section__title--skills::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 2em;
  background: var(--clr-light);
  opacity: 0.25;
}

.skills {
  margin-bottom: 4em;
}
.skill {
  max-width: 500px;
  margin: 0 auto;
}
.paragraph {
  padding-right: 5px;
  text-align: center;
  color: black;
  text-align: justify;
  padding-left: 30px;
  padding-right: 30px;
}

.project__subtitle {
  padding-left: 10px;
  text-align:left;
  color: black;
  font-size: 1.2em;
}

.project__subtitle1 {
  padding-left: 10px;
  text-align:center;
  color: black;
  font-size: 1.5em;
}

@media (min-width: 800px) {
.skills {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

.skill + .skill {
    margin-left: 2em;
  }
}

/* about me section */

.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

.about-me__img {
  box-shadow: var(--bs);
}

@media (min-width: 800px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-areas:
        "title img"
        "subtitle img"
        "text img";
    grid-column-gap: 2em;
  }

.section__title--about {
    grid-area: title;
  }

.section__subtitle--about {
    grid-column: 0 / -2;
    grid-row: 2;
    position: relative;
    left: -2em;
    width: calc(100% + 2em);
    padding-left: 2em;
    padding-right: calc(200px + 2em);
  }

.section__subtitle1--about {
      grid-column: 0 / 0;
      grid-row: 2;
      position: center;
      left: 3em;
      width: calc(100%);
      padding-left: 0em;
      padding-right: 0em;
      text-align: center;
    }

.section__subtitle2--about {
        grid-column: 0 / -5;
        grid-row: 2;
        position: relative;
        left: -2em;
        width: cover;
        padding-left: 2em;
        padding-right: 0;
      }

.about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
.about-me__body {
    text-align: justify;
  }
}

/* My Work */

.My-work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
  padding: inherit;
}

.Chapel-project {
  background-color: #ffffff;
  color: var(--clr-light);
  text-align: center;
}

.RL-App {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

.section__title--chapel
 {
  background: var(--clr-accent);
  padding: .25em;
  margin-bottom: 1em;
  color: var(--clr-accent);
  z-index: 2;
}

.portfolio
 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.portfolio__item {
  background: var(--clr-accent);
  overflow: hidden;
}

.portfolio__item1 {
  background: var(--clr-accent);
  overflow: hidden;
}

/* Portfolio1*/
.Portfolio__img,
.Portfolio1__img {
  transition: transform 750ms cubic-bezier(.5, 0, .5, 1),
  opacity 250ms linear;
}

.Portfolio__img1,
.Portfolio1__img {
  transition: transform 750ms cubic-bezier(.5, 0, .5, 1),
  opacity 250ms linear;
}

.portfolio__item:focus {
  position: relative;
  z-index: 2;
}

.portfolio__item1:focus {
  position: relative;
  z-index: 2;
}

.Portfolio__img:hover,
.portfolio__item:focus .Portfolio__img {
  transform: scale(1.2);
  opacity: .5;
}

.Portfolio__img:hover,
.portfolio__item1:focus .Portfolio__img {
  transform: scale(1.2);
  opacity: .5;
}


.Portfolio__img1:hover,
.portfolio__item:focus .Portfolio__img1
 {
  transform: scale(1.2);
  opacity: .5;
}

/* Portfolio1*/
.Portfolio1__img:hover,
.portfolio1__item:focus .Portfolio1__img {
  transform: scale(1.2);
  opacity: .5;
}

.Portfolio__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%%;
}
.Portfolio1__img {
  display: block;
  margin-left: auto;
  margin-right: 100px;
  width: 100%;
}

.chapel__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: auto;
}

.design {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: auto;
}


/* footer */

.footer {
  background: : #111;
  color: : var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
}
.footer__link {

  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list_link:hover
{
  opacity: :-7;
}
.footer__link:hover {
  text-decoration: underline;
}
.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin 0 .5em;
}

.social-list__link {
  padding: .5em;
}
